<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tactics Game</title>
    <script src='https://unpkg.com/vue'></script>
    <script src='https://code.jquery.com/jquery-3.1.1.js'></script>
    <script src='levels/level0.js'></script>
    <script src='script.js'></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      
      <div id='leftpanel' class='panel'>
        
        <div id='selected-terrain' v-if='terrain'>
          <div id='terrain-info' class='ui'>
            <div class='heading'><div id='terrain-icon' class='icon' :class='terrain.type'></div><span class='underline'>{{ terrain.name }}</span></div>
            <p>Movement cost: {{ terrain.cost }}</p>
          </div>
        </div>
        
        <div id='selected-unit' v-if='unit'>
          <div id='unit-info' class='ui'>
            <div class='heading'><div id='unit-icon' class='icon' :class='unit.faction'></div><span class='underline'>{{ unit.name }}</span></div>
            <p>Status: <span :class='unit.health'>{{ unit.health }}</span></p>
            <p>Attack: {{ unit.attack }}</p>
            <p>Defense: {{ unit.defense }}</p>
            <p>Movement: {{ unit.moves }} / {{ unit.movement }}</p>
            <p>Range: {{ unit.range }}</p>
          </div>
          <div id='unit-actions' class='ui' v-if="unit.faction === 'Player'">
            <p class='heading underline'>Actions</p>
            <p v-if='!attacking && !ending'>
              <button id='btn-move' v-if='!moving' :disabled='unit.moves === 0' @click='beginMove'>Move (M)</button>
              <button id='btn-unmove' v-else @click='cancelMove'>Cancel Move (M)</button>
            </p>
            <p v-if='!moving && !ending'>
              <button id='btn-attack' v-if='!attacking' :disabled='unit.attacks === 0' @click='beginAttack'>Attack (A)</button>
              <button id='btn-unattack' v-else @click='cancelAttack'>Cancel Attack (A)</button>
            </p>
            <div v-if='!moving && !attacking'>
              <p v-if='!ending'><button id='btn-end' @click='ending = true'>End Turn (E)</button></p>
              <p v-else>
                Really end turn?<br>
                <button id='btn-unend' @click='ending = false'>Cancel (E)</button>
                <button id='btn-confend' @click='endTurn'>Confirm (Return)</button>
              </p>
            </div>
          </div>
        </div>
        
      </div>
      
      <div id='map' class='panel' :style='mapImage'>
        <row v-for='row in gameData' :key='row' :row='row'></row>
      </div>
      
      <div id='rightpanel' class='panel'></div>
      
      <div id='bottompanel' class='panel'></div>
      
    </main>
  </body>
</html>