<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tactics Game</title>
    <script src='https://unpkg.com/vue'></script>
    <script src='https://code.jquery.com/jquery-3.2.1.js'></script>
    <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
    <script src='script.js'></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main id='game'>
      
      <div id='top-panel'>
      
        <div id='top-left' class='panel'>
          <side-panel
            side='left'
            :space='active'
            :action='action'
            :combat='combat'
            :itemtip='itemtip'
            :control='control'>
          </side-panel>
        </div>
        
        <div id='top-center' class='panel' :style='mapImage'>
          <row v-for='(row, index) in map' :key='index' :row='row' :status='status'></row>
          <ground-panel v-if="action === 'equipping'" :items='active.items'></ground-panel>
        </div>
        
        <div id='top-right' class='panel'>
          <side-panel
            side='right'
            :space='target'
            :action='action'
            :combat='combat'
            :control='control'>
          </side-panel>
        </div>
        
        <turn-banner v-if='banner' :faction='faction'></turn-banner>
      
      </div>
      
      <div id='bottom-panel'>
        
        <div id='bottom-left' class='panel'></div>
        
        <div id='bottom-center' class='panel' @click='advanceDialog' @scroll='scrollHandler'>
          <event-log :events='events'></event-log>
        </div>
        
        <div id='bottom-right' class='panel'>
          <topo-control :topo-view='topoView'></topo-control>
          <status-panel
            :turn='turn'
            :faction='faction'
            :control='control'
            :units='units.length'
            :action='action'>
          </status-panel>
        </div>
        
      </div>
      
    </main>
    
  </body>
</html>