body {
  display: flex;
  justify-content: center;
  background-color: #708090;
  font-family: sans-serif;
}

main {
  width: 1024px;
  height: 768px;
}

p {
  margin: 2px 0;
}

.panel {
  border: 1px solid black;
  background-color: #dfefff;
}

#top-panel {
  display: flex;
  margin-bottom: 5px;
}

#top-left {
  width: 248px;
  height: 512px;
  margin-right: 5px;
}

#top-center {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 512px;
  justify-content: center;
  align-items: center;
}

#top-right {
  width: 248px;
  height: 512px;
  margin-left: 5px;
}

#bottom-panel {
  display: flex;
}

#bottom-left {
  width: 248px;
  height: 247px;
  margin-right: 5px;
}

#bottom-center {
  width: 512px;
  height: 247px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#bottom-right {
  width: 248px;
  height: 247px;
  margin-left: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.space {
  width: 32px;
  height: 32px;
}

.terrain {
  position: absolute;
}

.highlight {
  position: absolute;
  z-index: 10;
}

.unit {
  position: relative;
  z-index: 20;
  top: 0;
  left: 0;
  cursor: pointer;
}

#ground-panel {
  position: absolute;
  z-index: 80;
  background: tan;
  border: 3px solid #6b491c;
  border-radius: 10px;
  padding: 15px;
}

.ground-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ground-item:last-of-type {
  margin-bottom: 0;
}

.ground-item img {
  margin-right: 10px;
}

.ground-item .item-info {
  background: #e8dac6;
  border-radius: 5px;
  padding: 6px 8px;
}

.ground-item p:first-of-type {
  margin-bottom: 4px;
}

.item-info p {
  margin: 0;
}

.item-info span {
  margin-left: 10px;
}

.ui {
  margin: 10px 10px 25px 10px;
}

.heading {
  height: 18px;
  margin: 5px 0;
  font-weight: bold;
}

.icon {
  position: relative;
  bottom: 2px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.flex {
  display: flex;
}

.columns {
  width: 50%;
}

.col60 {
  width: 60%;
}

.col40 {
  width: 40%;
}

.big {
  font-size: 50px;
  line-height: 40px;
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

.buff {
  color: #0080ff;
}

#action-buttons {
  display: flex;
  width: 228px;
}

.btn-holder {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

#move-holder {
  background-image: url('sprites/btn-move-disabled.png');
}

#attack-holder {
  background-image: url('sprites/btn-attack-disabled.png');
}

#equip-holder {
  background-image: url('sprites/btn-equip-disabled.png');
}

#cancel-holder {
  background-image: url('sprites/btn-cancel-disabled.png');
}

#confatk-holder {
  background-image: url('sprites/btn-confatk-disabled.png');
}

#end-holder {
  width: 180px;
  height: 35px;
  margin-top: 5px;
  background-image: url('sprites/btn-end-disabled.png');
}

.button {
  cursor: pointer;
}

.equipment {
  display: flex;
  margin-top: 10px;
}

.item-holder {
  width: 66px;
  margin-right: 10px;
}

.slot-container {
  display: flex;
  flex-wrap: wrap;
  width: 64px;
}

.item-slot {
  position: relative;
  width: 32px;
  height: 32px;
}

.item {
  position: relative;
  cursor: pointer;
  cursor: -webkit-grab;
}

#item-tip {
  position: absolute;
  z-index: 90;
  top: -1px;
  left: 37px;
  width: fit-content;
  white-space: nowrap;
  background: #e8dac6;
  border: 3px solid #39240e;
  padding: 3px 5px;
}

#item-tip:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 4px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 17px solid #39240e;
  border-bottom: 10px solid transparent;
}

#item-tip:after {
  content:"";
  position: absolute;
  right: 100%;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 12px solid #e8dac6;
  border-bottom: 7px solid transparent;
}

#event-log {
  margin: 0 10px;
}

.event:last-of-type {
  min-height: 247px;
}

.dialog .spacer {
  height: 15px;
}

.action .spacer {
  height: 10px;
}

.content {
  display: flex;
  margin: 0;
}

.dialog .content {
  align-items: center;
}

.event .icon {
  bottom: 1px;
  left: 1px;
  margin 0;
}

.align-left {
  justify-content: flex-start;
}

.align-right {
  justify-content: flex-end;
}

.portrait {
  width: 96px;
  height: 96px;
}

.message {
  position: relative;
  max-width: 344px;
  margin: 0 20px;
  padding: 8px 10px;
}

.message:before {
  content:"";
  position: absolute;
  bottom: 0px;
  width: 14px;
  height: 14px;
  background: inherit;
}

.message:after {
  content:"";
  position: absolute;
  bottom: 5px;
  width: 17px;
  height: 17px;
  background: #dfefff;
  border-radius: 50%;
}

.align-left .message {
  border-radius: 8px 8px 8px 0;
}

.align-left .message:before {
  right: 100%;
  border-bottom-left-radius: 100% 70%;
}

.align-left .message:after {
  right: 100%;
}

.align-right .message {
  border-radius: 8px 8px 0 8px;
}

.align-right .message:before {
  left: 100%;
  border-bottom-right-radius: 100% 70%;
}

.align-right .message:after {
  left: 100%;
}

/* space before*/
.sb:before {
  content: ' ';
  white-space: pre;
}

/* space after*/
.sa:after {
  content: ' ';
  white-space: pre;
}

.event .critical:before {
  content: 'in ';
  font-weight: normal;
  color: black;
  white-space: pre;
}

.event .critical:after {
  content: ' condition';
  font-weight: normal;
  color: black;
  white-space: pre;
}

.banner {
  width: 300px;
}

#banner-back {
  position: absolute;
  z-index: 100;
  height: 36px;
  display: flex;
  align-self: center;
  align-items: center;
}

#banner-fore {
  display: flex;
  height: 28px;
  align-items: center;
}

#banner-text {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

/* Dynamic Classes */

.movable {
  background-color: rgb(0, 191, 255);
  background-color: rgba(0, 191, 255, 0.7);
  cursor: pointer;
}

.attackable {
  background-color: rgb(255, 36, 0);
  background-color: rgba(255, 36, 0, 0.5);
}

.targeted {
  background-color: rgb(255, 36, 0);
  background-color: rgba(255, 36, 0, 1);
}

.healthy {
  color: #259925;
}

.wounded {
  color: #d98c00;
}

.critical {
  color: #e60000;
}

.defeated {
  color: #8b0000;
}

.fade1 {
  opacity: 1;
}

.fade2 {
  opacity: 0.875;
}

.fade3 {
  opacity: 0.75;
}

.fade4 {
  opacity: 0.625;
}

.fade5 {
  opacity: 0.5;
}

.fade6 {
  opacity: 0.375;
}

.fade7 {
  opacity: 0.25;
}

.fade8 {
  opacity: 0.125;
}

.barren {
  background-image: url('sprites/barren.png');
}

.ground {
  background-image: url('sprites/ground.png');
}

.sand {
  background-image: url('sprites/sand.png');
}

.grass {
  background-image: url('sprites/grass.png');
}

.brush {
  background-image: url('sprites/brush.png');
}

.boulder {
  background-image: url('sprites/boulder.png');
}

.log {
  background-image: url('sprites/log.png');
}

/* Transition Classes */

.fade-enter-active, .fade-leave-active {
  transition: opacity 250ms ease-in-out;
}

.fade-long-enter-active, .fade-long-leave-active {
  transition: opacity 500ms ease-in-out;
}

.fade-enter, .fade-leave-to, .fade-long-enter, .fade-long-leave-to {
  opacity: 0;
}

.banner-enter {
  left: 100%;
}

.banner-enter-active {
  transition: left 1s cubic-bezier(.5, 1, .5, 1);
}

.banner-enter-to, .banner-leave {
  left: calc(50% - 150px);
}

.banner-leave-active {
  transition: left 1s cubic-bezier(.5, 0, .5, 0);
}

.banner-leave-to {
  left: -300px;
}

.moveEast-enter-active {
  transition: left 200ms linear;
}

.moveEast-enter {
  left: -32px;
}

.moveSouth-enter-active {
  transition: top 200ms linear;
}

.moveSouth-enter {
  top: -32px;
}

.moveWest-enter-active {
  transition: left 200ms linear;
}

.moveWest-enter {
  left: 32px;
}

.moveNorth-enter-active {
  transition: top 200ms linear;
}

.moveNorth-enter {
  top: 32px;
}

.sayGoodbye-leave-active {
  transition: opacity 1s 500ms;
}

.sayGoodbye-leave-to {
  opacity: 0;
}

/* Shadow DOM */

::-webkit-scrollbar {
  width: 8px;
  border: 1px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #69c;
  border-radius: 4px;
}